@use "../../../styles/variables.scss" as *;

.PageHeader{

    .PageHeaderDiv {
        display: flex;
        flex-direction: column;
        gap: .3rem;
    }
}

.title{
    font-size: $font-size-xl;
}

.subtitle{
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
    color: $font-color-secondary;
}

