.dashboard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.leftContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.rightContent {
    width: 40%;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 100%;
    flex: 1;
}
