@use "../../../styles/variables.scss" as *;

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: 100%;
    max-height: 60px;
    border-radius: 15px;
    padding: .8rem;

    p {
        color: $body-color;
    }
}

.values {
    font-size: $font-size-md;
}

.names {
    font-weight: $font-weight-regular;
    font-size: $font-size-xs;
}

.default {
    background-color: $blue-light;

    .icon {
        background-color: darken($blue-dark, 5%);
        padding: .4rem;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
}

.income {
    background-color: $green;

    .icon {
        width: 30px;
        height: 30px;
        background-color: darken($green, 5%);
        padding: .4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
}

.expense {
    background-color: $warning;

    .icon {
        
        width: 30px;
        height: 30px;
        background-color: darken($warning, 5%);
        padding: .4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
}

.transfer {
    background-color: $yellow;
    
    .icon {
        
        width: 30px;
        height: 30px;
        background-color: darken($yellow, 5%);
        padding: .4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
}

.credit {
    background-color: $blue-dark;

    .icon {
        
        width: 30px;
        height: 30px;
        background-color: darken($blue-dark, 5%);
        padding: .4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
    }
}
