@use "../../../styles/variables.scss" as *;

.chartContainer {
    background-color: $background-color;
    padding: 1rem 1rem 0 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;

    p {
        color: $font-color-primary;
    }
}

.chart {
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    aspect-ratio: 1.618;
    margin: 10px 0 0 0;
}

