@use "../../../styles/variables.scss" as *;

.aside {
    left: 0;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    width: 240px;
    border-right: 1px solid $border-color;
    background-color: $background-color;
    height: 100vh;

    footer {
        display: flex;
        position: absolute;
        bottom: 0;
        padding: 1rem;
        color: $font-color-primary;
        font-weight: $font-weight-regular;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    color: $font-color-primary;
    font-weight: $font-weight-medium;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-bottom: 1px solid $border-color;
}

.logoIcon {
    display: flex;
    align-items: center;
    background-color: $font-color-primary;
    color: $background-color;
    padding: 0.4rem;
    border-radius: 0.6rem;
}

.navbar {
    padding: 1rem;
}

.navItem,
.navItemActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.7rem;
    gap: 0.5rem;
    margin: 0.2rem 0;
    border-radius: 0.5rem;
    font-weight: $font-weight-medium;
}

.navItem:hover {
    background-color: $font-color-tertiary;
}

.navItemActive {
    color: $body-color;
    background-color: $font-color-primary;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}
