@use "./variables.scss" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: $font-family-base;
}

h1,
h2,
h3,
h4,
a,
li,
p {
    color: $font-color-primary;
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}