@use "../../styles/variables.scss" as *;

.container {
    color: $font-color-primary;
    font-weight: $font-weight-medium;
    background-color: $background-color;
    border: 1px solid $font-color-tertiary;
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.tableHeader {
    text-align: start;
    border: 1px solid $font-color-tertiary;
    padding: 1rem;
}

.tableRow {
    border: 1px solid $font-color-tertiary;
}

.accountName {
    padding: 1rem;
}

.value {
    padding: 1rem;
}
